.inputFileUpload {
  display: none;
}

.labelFileUpload {
  min-height: 90px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
  margin: 15px;
  &.dragActive{
    background-color: var(--color-background);
  }

  p {
    margin: 10px;
  }
}

.info_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
