.fileForm {
  border: solid 1px var(--color-divider);
  border-radius: 5px;
  padding: 20px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sendBtn {
  margin: 20px auto 10px auto;
  padding: 0 10px;
}